{{# each Day }}
    <div class="week__day flex-parent__center-both">
        <div class="day__temp flex-child">{{ displayTemp }} - {{ condition }} - {{ conditionSlug }}</div>
        <div class="day__date flex-child">
            <div class="day__dayOfWeek">{{ dayOfWeek }}</div>
            <div class="day__dayOfMonth">{{ dayOfMonth }}</div>
        </div>
    </div>
{{/ each }}
