<div class="centered-container">
    <h2 class="section__title">Weather for Past Week</h2>
    {{# each Day }}
        <div class="weekly flex-parent__center-cross {{# if @first }}first{{/ if }}">
            <div class="weekly__temp flex-child">{{ value }}</div>
            <div class="weekly__date flex-child">
                <div class="weekly__dayOfWeek">{{ dayOfWeek }}</div>
                <div class="weekly__dayOfMonth">{{ dayOfMonth }}</div>
            </div>
            <div class="weekly__icon flex-child">
                <img src="dist/images/icons/{{ iconSlug }}.svg" alt="{{ condition }} icon" />
            </div>
        </div>
    {{/ each }}
</div>
